.jumbotron
  .container
    .row
      .col-md-4.offset-md-4
        = simple_form_for @group do |g|
          .form-group
            = g.input :name, input_html: { class: 'form-control', placeholder: "Group name" }
          .form-group
            = g.input :description, as: :text, input_html: { class: 'form-control', placeholder: "Description"}
          .form-group
            = g.button :submit, "Create group", class: "btn btn-md btn-primary btn-block"
