.jumbotron
  .container
    %h1.display-3= current_user.email
    =link_to 'Create a group', new_group_path, class: "btn btn-primary btn-lg mt-4"
.container
  .row
    .col-md-4
      .card
        .card-block
          %h3.card-title.text-center.my-3 Your groups:
          =render partial: "user_group", collection: @user_groups
    .col-md-4
      .card
        .card-block
          %h3.card-title.text-center.my-3 Your invitations:
          %ul.list-group
            =render partial: "invitation", collection: @invitations
    .col-md-4
      .card
        .card-block
          %h3.card-title.text-center.my-3 Your debts:
          %ul.list-group
            =render partial: "debt", collection: @debts
