%h1 Hello,
= current_user.email
.container
  .row
    .col-md-6.offset-md-2
      - @invitations.each do |invitation|
        = invitation_handler(invitation)
        %hr
      - if current_user.groups.any?
        - current_user.groups.each do |group|
          = link_to group.name, group_path(group)
