.jumbotron
  .container
    .row
      .col-md-8.offset-md-2
        =render "search_form"
.container
  .row
    .col-md-6.offset-md-3
      .digg_pagination
        =will_paginate @filtered_users
        %br
        .list-group
          =render partial: "filtered_users", collection: @filtered_users, as: :user
