// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-form {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;
}
.item-mail {
  margin-top: 7px;
}
